@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Archivo', sans-serif;
    background-image: url("bg2.svg");
    background-repeat: repeat;
}

.bobbing {
    animation: bobbing 1.5s infinite ease-in-out;
}

/* Define the bobbing animation */
@keyframes bobbing {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

button {
    transition: transform 0.1s ease-in-out, box-shadow 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.1); /* Slightly enlarge the button */
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
}

.hover\:animate-pop:hover {
    animation: pop 0.3s ease-in-out;
}

.popping {
    transition: transform 0.16s ease-in-out;
}

.popping:hover {
    transform: scale(1.1); 
}


h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 { 
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 { 
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #3498db;
    color: white;
}

img {
    max-width: 30rem;
}

