@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
    font-family: 'bradley';
    src: url('../../public/fonts/BradleyHandITCTT-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Archivo', sans-serif;
    background-image: url("bg2.svg");
    background-repeat: repeat;
}

.bobbing {
    animation: bobbing 1.5s infinite ease-in-out;
}

/* Define the bobbing animation */
@keyframes bobbing {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

button {
    transition: transform 0.1s ease-in-out, box-shadow 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.1); /* Slightly enlarge the button */
}
