---
import "../styles/global.css";

import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";

import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Solder - make a PCB!</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="flex flex-col justify-center items-center h-screen">
            <img src="/orph.svg" class="absolute top-0 left-6" />
            <div class="text-center mb-4 mt-5 mx-5 text-balance relative">
                <p class="text-3xl md:text-6xl font-bold bobbing">
                    404 Page not found
                </p>
                <p class="text-xl md:text-3xl md:mt-6">
                    <i>Did you mean to go to:</i>
                </p>
            </div>

            <div
                class="grid grid-cols-1 md:grid-cols-3 justify-center items-center text-center mx-5 text-white mt-3 text-lg font-semibold"
            >
                <a href="/"
                    ><button
                        class="p-2 px-6 bg-[#FFAD60] rounded-3xl mb-2 md:mb-0 md:mr-2"
                        >back to landing</button
                    ></a
                >
                <a href="/tutorial"
                    ><button
                        class="p-2 px-6 bg-gradient-to-r from-[#FF60A8] to-[#ff607a] rounded-3xl mb-2 md:mb-0 md:mr-2"
                        >read the tutorial</button
                    ></a
                >
                <a
                    href="https://github.com/hackclub/solder"
                    target="_blank"
                    rel="noopenner noreferrer"
                    ><button class="p-2 px-6 bg-[#609AFF] rounded-3xl"
                        >submit on github</button
                    ></a
                >
            </div>
        </div>
    </body>
</html>
