---
export interface Props {
    quantity: string;
    title: string;
    content: string;
    image: string;
}

const { quantity, title, content, image } = Astro.props;
---

<div class="border-dashed border-4 rounded-md border-[#FFAD60] p-8 pb-4 pt-6 text-[#FFAD60] relative">
    <div class="absolute top-0 -right-4 rotate-12">
        <img src="/cardnum.svg" class="relative" />
        <p class="absolute top-0 right-0 text-white font-semibold text-2xl flex items-center justify-center w-full h-full">x{quantity}</p>
    </div>
    <img src={image} class="w-44"/>
    <p class="text-xl font-bold mt-2">{title}</p>
    <p class="">{content}</p>
</div>