<footer class="mt-auto">
    <div
        class="flex flex-col items-center justify-center p-6 bg-gray-800 text-sm text-white font-mono"
    >
        <p class="">
            check out the <a
                href="https://github.com/hackclub/solder"
                target="_blank"
                rel="noopenner noreferrer"
                class="text-blue-300">github repo here</a
            > :D
        </p>
        <p class="text-center">
            made by <a
                href="https://github.com/acornitum"
                target="_blank"
                rel="noopenner noreferrer"
                class="text-blue-300">@acon</a
            > and <a
                href="https://github.com/cheyao"
                target="_blank"
                rel="noopenner noreferrer"
                class="text-blue-300">@cyao</a
            >
            <span class="opacity-70"
                ><i>- follow us for a special suprise!</i></span
            >
        </p>
    </div>
</footer>
