

<footer class="mt-auto">
    <div class="flex flex-col items-center justify-center p-4 bg-[#609AFF] text-sm text-white">
        <p class="">this is an official hack club ysws! ran by @acon and @cyao</p>
    </div>
</footer>