---
const { title, sections } = Astro.props;
---

<div class="h-screen w-64 bg-gray-800 text-white fixed top-0 left-0 flex flex-col">
    <div class="p-4 text-2xl font-bold border-b border-gray-700">
	{ title }
    </div>
    <nav class="flex-1 overflow-y-auto">
      <ul class="space-y-2 p-4">
	      { sections.map((header) => <li style={"padding-left: " + (header.depth-1) + "rem"}><a href={"#" + header.slug}>{header.text}</a></li>)}
      </ul>
    </nav>
    <div class="p-4 border-t border-gray-700">
      <a href="/" class="block text-sm text-gray-400 hover:text-white">
        Back to Home
      </a>
    </div>
</div>
