---
import Footer from '../components/Footer.astro';
import Sidebar from '../components/Sidebar.astro';
import '../styles/global.css';
const pageTitle = "Home fdjsklfds fjdsklfs fjdslfjds fdsfjdkslfjdlsf";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    

    <Sidebar />

    <h1>{pageTitle}</h1>
    <Footer />

  </body>
</html>